/** @mainpage Table Of Contents

    @section reference Qorus Integration Engine&reg; System Reference Manuals

    - @subpage installation
    - @subpage systemref
    - @subpage operations
    - @subpage commandline
    - @subpage develguide
    - @subpage releasenotes

    @section apis Qorus API Reference Manuals

    - @subpage client describes the Qore-language client API for Qorus
    - @subpage workflowapi describes the Qore-language API available in Qorus Workflow programs
    - @subpage serviceapi describes the Qore-language API available in Qorus Service programs
    - @subpage jobapi describes the Qore-language API available in Qorus Job programs
    - @subpage mapperapi described the Qore-language API available in Qorus %Mapper programs
    - @subpage commonserverapi describes the Qorus system classes, constants, and functions available in all server
      contexts (workflow, service, and job code)
    - @subpage qorusapi describes the Qorus network system API as exported through the HTTP server and REST and
      various RPC protocols
    - @subpage systemservices describes Qorus system services
    - <a href="../qore/lang/html/index.html">Qore Programming Language Reference Manual</a>

    <hr>
    - @subpage opensource
    - @subpage copyright

    @image html qorus-small-white-on-transparent-200x77.png "Qorus Integration Engine&reg;"
*/

/** @page copyright Copyright and Trademark Notices

    @anchor tmqore
    Qorus Integration Engine&reg; is a trademark of Qore Technologies, s.r.o..

    Qorus Integration Engine&reg;, including this documentation is copyrighted material owned by Qore Technologies
    s.r.o., protected by the laws of the Czech Republic, the European Union, the United States of America, and other
    countries around the world.

    @anchor tmlinux
    Linux® is a registered trademark of Linus Torvalds.

    @anchor tmoracle
    Oracle®, Solaris®, MySQL®, and MySQL Network™ are trademarks or registered trademarks of Oracle Corporation in the
    United States, the European Union and other countries.

    @anchor tmsybase
    Sybase® and Adaptive Server® are registered trademarks of SAP, AG.

    @anchor tmredhat
    Red Hat® and the Shadow Man logo are registered trademarks of Red Hat, Inc. in the United States and other
    Countries, used with permission

    @anchor rmmicrosft
    Microsoft® and SQL Server™ are trademarks or registered trademarks of Microsoft Inc. in the United States and
    other countries.

    All other brand and product names, trademarks and copyrights are the property of their respective owners.
*/
